footer {
	display: flex;
	align-items: center;
	height: calc(15vh - 1.5rem);
	margin: 0.75rem 0;

}
.copyright {
	margin: 0;
	color: $pColor;
	font-size: 0.9rem;

	a {
		text-decoration: none;
		color: $pColor;
	}
	.fa-github:hover, .fa-github:focus {
		color: $gColor;
	}
	.fa-twitter:hover, .fa-twitter:focus{
		color: $tColor;
	}
	.portfolio:hover,.portfolio:focus {
		color: $bColor;
	}
}

@media (min-width: 768px) {
	footer {
		height: calc(15vh - 3rem);
		margin: 1.5rem 0;
	}
}