footer {
	display: flex;
	align-items: center;
	height: calc(15vh - 1.5rem);
	margin: 0.75rem 0;
}
.copyright {
	margin: 0;
	color: $pColor;
	font-size: 0.7rem;

	a {
		text-decoration: none;
		color: $pColor;
	}
	.github:hover,
	.github:focus {
		color: $gColor;
	}
	.twitter:hover,
	.twitter:focus {
		color: $tColor;
	}
	.portfolio:hover,
	.portfolio:focus {
		color: $bColor;
	}
}

@media (min-width: 480px) {
	.copyright {
		font-size: 0.9rem;
	}
}

@media (min-width: 768px) {
	footer {
		height: calc(15vh - 3rem);
		margin: 1.5rem 0;
	}
}
