html {
	font-size: 125%;
	scroll-behavior: smooth;
}

body {
	font-family: $mFont;
	text-align: center;
	background: $gradient;
	background-size: 350% 350%;
	animation: gradientBG 5s linear infinite alternate;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}

.wrapper {
	width: 90%;
	margin: 0 auto;
}

h1,
h2,
h3 {
	font-family: $hFont;
	text-transform: uppercase;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
