

.resultsHidden {
	display: none;
}

.results {
	background-color: $pColor;
	display: flex;
	flex-wrap: wrap;
	width: 90%;
	max-width: 50rem;
	margin: 0 auto;
	box-shadow: $bShadow;
	padding-bottom: 2rem;

}

.result {
	width: 50%;
}

.itemTitle {
	width: 100%;
	text-align: center;
}

.result1 {
	.scoreBarFull {
		display: flex;
		justify-content: flex-end;
		position: relative;
		::after {
			content: '';
			display: block;
			width: 0.1rem;
			height: 100%;
			background-color: white;
			position: absolute;
			right: -0.05rem;
		}
	}
	.itemTitle {
		position: relative;
		right: -50%;
	}
}
.result2 {
	.lQItem {
		flex-direction: row-reverse;
	}
	.itemTitle {
		opacity: 0;
	}
}

h2 {
	max-width: 100%;
	color: white;
	font-size: 1.1rem;
}

.cityNameFlexbox {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 10rem;
	background-position: center 70%;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 0 5%;
}

.lQItems {
	padding: 1rem 0 0.5rem;
}

.lQItem {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.itemTitle {
	width: 100%;
	font-size: 0.9rem;
	flex: 1 1 100%;
}

.scoreBar {
	height: 0.5rem;
}

.scoreBarFull {
	background-color: #ddd;
	flex: 1 1 60%;
}

.scoreNum {
	flex: 1 1 30%;
	text-align: center;
	font-family: 'Lexend Deca', sans-serif;
}

.restart {
	margin: 1rem auto 0;
	padding: 0.5rem 1rem;
	border: none;
	background: $bColor;
	color: $pColor;
}

@media (min-width: 768px) {
	.cityNameFlexbox {
		position: sticky;
		top: 0;
		z-index: 10;
	}
}
