.resultsHidden {
	display: none;
}

.results {
	background-color: $pColor;
	display: flex;
	flex-wrap: wrap;
	width: 90%;
	max-width: 50rem;
	margin: 0 auto;
	box-shadow: $bShadow;
	padding-bottom: 2rem;
}

.result {
	width: 50%;
}

.itemTitle {
	width: 100%;
	text-align: center;
}

.result1 {
	.scoreBarFull {
		display: flex;
		justify-content: flex-end;
		position: relative;
		::after {
			content: '';
			display: block;
			width: 0.1rem;
			height: 100%;
			background-color: white;
			position: absolute;
			right: -0.05rem;
		}
	}
	.itemTitle {
		position: relative;
		right: -50%;
	}
}
.result2 {
	.lQItem {
		flex-direction: row-reverse;
	}
	.itemTitle {
		opacity: 0;
	}
}

.cityNameFlexbox {
	color: $pColor;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 10rem;
	background-position: center 70%;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 12% 5%;
}

.cityName {
	max-width: 100%;
	font-size: 1rem;
	margin: 0;
}

.longName {
	font-size: 0.7rem;
}

.scoreTotal {
	margin: 0;
}

.lQItems {
	padding: 1rem 0 0.5rem;
}

.lQItem {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.itemTitle {
	width: 100%;
	font-size: 0.9rem;
	flex: 1 1 100%;
}

.scoreBar {
	height: 0.5rem;
}

.scoreBarFull {
	background-color: #ddd;
	flex: 1 1 60%;
}

.scoreNum {
	flex: 1 1 30%;
	text-align: center;
	font-family: 'Lexend Deca', sans-serif;
	text-transform: uppercase;
}

.winner {
	color: #8fff89;
	text-shadow: 0.05rem 0.05rem 0.05rem $gColor;
}

.loser {
	color: #ffacac;
	text-shadow: 0.05rem 0.05rem 0.05rem $gColor;
}

.tie {
	color: #ffff41;
	text-shadow: 0.05rem 0.05rem 0.05rem $gColor;
}

.restart {
	margin: 1rem auto 0;
	padding: 0.5rem 1rem;
	border: 0.1rem solid $bColor;
	background: $bColor;
	color: $pColor;
	text-transform: uppercase;
}

.restart:hover,
.restart:focus {
	background: $pColor;
	color: $bColor;
	transition: all 0.2s;
}

@media (min-width: 768px) {
	.cityName {
		font-size: 1.5rem;
	}
	.longName {
		font-size: 1.1rem;
	}
}